/* Menerapkan font Poppins ke seluruh halaman */
body {
    font-family: 'Poppins', sans-serif;
    -webkit-print-color-adjust: exact; /* Memastikan warna tercetak dengan benar */
}

/* Menyembunyikan halaman-halaman yang tidak aktif */
.page {
    display: none;
}

/* Menampilkan halaman yang aktif */
.page.active {
    display: block;
}

/* Animasi untuk teks berjalan (marquee) */
@keyframes marquee {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}
.animate-marquee {
    animation: marquee 30s linear infinite;
}

.print-only {
    display: none;
}

/* Aturan untuk mencetak */
@media print {
    body {
        background-color: white;
    }
    #sidebar, #header-main, .no-print {
        display: none;
    }
    #main-content {
        margin-left: 0;
        padding: 0;
    }
    #rekapAbsensiPage .p-8 {
        padding: 0;
    }
    #rekapAbsensiPage .bg-white {
        box-shadow: none;
        border: none;
    }
    .print-only {
        display: block;
    }
}
